In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Import File
fcv_df = pd.read_excel('Resources/FCV&EVMT Data_6.18.19.xlsx')
fcv_df.head()

,id. Response ID,submitdate. Date submitted,Month Year[subm...Date submitted],Month[Month Yea...ate submitted]],Year[Month Year...ate submitted]],lastpage. Last page,Carmain,Previous PHEVs,Previous BEVs,Previous HEVs,...,Highest Level of Education,Longest trip in the last 12 months,Number of trips over 200 miles in the last 12 months,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy"
0,FCV_1_3,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,0.0,0.0,...,3.0,483.14,0.0,0.01,2.0,65.0,0.0,2,14622.000000,0.0
1,FCV_1_4,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,0.0,0.0,1.0,...,4.0,568.09,1.0,10.69,3.0,65.0,0.0,3,9197.142857,0.0
2,FCV_1_2,2017/06/02 10:51:59,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,1.0,0.0,...,4.0,398.57,0.0,9.39,5.0,55.0,1.0,4,15360.000000,0.0
3,FCV_1_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4,FCV_1_15,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,2017 Toyota Mirai,1.0,0.0,0.0,...,2.0,255.16,0.0,17.63,2.0,55.0,0.0,3,5082.352941,0.0

In [3]:
# Update Column Names
fcv_df = fcv_df.rename(columns={'Month Year[subm...Date submitted]':'Month/Year Submitted',
                                'Month[Month Yea...ate submitted]]': 'Month Submitted',
                               'Year[Month Year...ate submitted]]':'Year Submitted'})

In [4]:
fcv_df = fcv_df.dropna()

In [5]:
fcv_df.dtypes

id. Response ID                                                                     object
submitdate. Date submitted                                                          object
Month/Year Submitted                                                                object
Month Submitted                                                                    float64
Year Submitted                                                                     float64
lastpage. Last page                                                                float64
Carmain                                                                             object
Previous PHEVs                                                                     float64
Previous BEVs                                                                      float64
Previous HEVs                                                                      float64
Previous CNGs                                                                      float64
Household Income                                                                   float64
Importance of reducing greenhouse gas emissions (-3 not important, 3 important)    float64
Home ownership (own 1)                                                             float64
Home Type (detached 1)                                                             float64
Highest Level of Education                                                         float64
Longest trip in the last 12 months                                                 float64
Number of trips over 200 miles in the last 12 months                               float64
One-way commute distance                                                           float64
Number of people in the household                                                  float64
Age                                                                                float64
Gender (Male 1)                                                                    float64
Number of vehicles in the household                                                  int64
Annual VMT Estimate                                                                float64
FCV, BEV Dummy                                                                     float64
dtype: object

In [6]:
#Split Carmain into separate columns
fcv_df[['Model Year', 'Manufacture', 'Model']] = fcv_df['Carmain'].str.split(' ', n=2, expand=True)

#Drop Carmain, & ID as not longer needed
fcv_df = fcv_df.drop(columns=['Carmain','id. Response ID'],axis=1)

fcv_df

,submitdate. Date submitted,Month/Year Submitted,Month Submitted,Year Submitted,lastpage. Last page,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy",Model Year,Manufacture,Model
0,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,275000.0,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,Toyota,Mirai
1,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,275000.0,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,Toyota,Mirai
4,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,1.0,0.0,0.0,0.0,125000.0,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,Toyota,Mirai
5,2017/06/06 12:11:14,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,175000.0,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,Toyota,Mirai
7,2017/06/02 15:57:08,06/2017,6.0,2017.0,42.0,0.0,0.0,1.0,0.0,500000.0,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,Toyota,Mirai
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19708,2017/11/10 10:33:21,11/2017,11.0,2017.0,45.0,0.0,0.0,1.0,0.0,275000.0,...,46.38,2.0,65.0,0.0,2,644.444444,1.0,2017,Chevrolet,Bolt EV
19712,2017/11/11 15:04:13,11/2017,11.0,2017.0,45.0,0.0,0.0,0.0,0.0,125000.0,...,35.66,4.0,35.0,0.0,2,18800.000000,1.0,2017,Chevrolet,Bolt EV
19717,2017/11/12 17:01:47,11/2017,11.0,2017.0,45.0,1.0,1.0,0.0,0.0,175000.0,...,44.72,2.0,25.0,0.0,2,9129.000000,1.0,2017,Chevrolet,Bolt EV
19723,2017/11/14 13:35:27,11/2017,11.0,2017.0,45.0,0.0,1.0,1.0,0.0,325000.0,...,17.29,4.0,55.0,1.0,2,13000.000000,1.0,2017,Chevrolet,Bolt EV
19724,2017/11/14 16:28:03,11/2017,11.0,2017.0,45.0,0.0,1.0,0.0,0.0,125000.0,...,18.37,4.0,55.0,0.0,4,9045.000000,1.0,2017,Chevrolet,Bolt EV

In [7]:
fcv_df.to_csv('Exports/FCV_Dataset.csv')