# Final Project - Title

---------------
## Context
---------------



-----------------
## Objective
-----------------

We are analyzing different aspects of 

-------------------------
## Data Dictionary
-------------------------

The dataset has the following information:

* Column Header: Description of info it contains and units
* BloodPressure: Diastolic blood pressure (mm Hg)

### Import the necessary libraries or dependencies

In [1]:
import pandas as pd

###  Read the Dataset

In [3]:
df = pd.read_excel("resources/EV_Cal.xlsx")b

In [4]:
df.head()

,id. Response ID,submitdate. Date submitted,Month Year[subm...Date submitted],Month[Month Yea...ate submitted]],Year[Month Year...ate submitted]],lastpage. Last page,Carmain,Previous PHEVs,Previous BEVs,Previous HEVs,...,Highest Level of Education,Longest trip in the last 12 months,Number of trips over 200 miles in the last 12 months,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy"
0,FCV_1_3,2017/06/02 11:30:57,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,0.0,0.0,...,3.0,483.14,0.0,0.01,2.0,65.0,0.0,2,14622.000000,0.0
1,FCV_1_4,2017/06/02 11:15:39,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,0.0,0.0,1.0,...,4.0,568.09,1.0,10.69,3.0,65.0,0.0,3,9197.142857,0.0
2,FCV_1_2,2017/06/02 10:51:59,06/2017,6.0,2017.0,42.0,2016 Toyota Mirai,1.0,1.0,0.0,...,4.0,398.57,0.0,9.39,5.0,55.0,1.0,4,15360.000000,0.0
3,FCV_1_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN
4,FCV_1_15,2017/06/02 19:35:59,06/2017,6.0,2017.0,42.0,2017 Toyota Mirai,1.0,0.0,0.0,...,2.0,255.16,0.0,17.63,2.0,55.0,0.0,3,5082.352941,0.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27021 entries, 0 to 27020
Data columns (total 25 columns):
 #   Column                                                                           Non-Null Count  Dtype
---  ------                                                                           --------------  -----
 0   id. Response ID                                                                  27021 non-null  object
 1   submitdate. Date submitted                                                       20082 non-null  object
 2   Month Year[subm...Date submitted]                                                20082 non-null  object
 3   Month[Month Yea...ate submitted]]                                                20082 non-null  float64
 4   Year[Month Year...ate submitted]]                                                20082 non-null  float64
 5   lastpage. Last page                                                              26025 non-null  float64
 6   Carmain                                                                          25616 non-null  object
 7   Previous PHEVs                                                                   15944 non-null  float64
 8   Previous BEVs                                                                    15944 non-null  float64
 9   Previous HEVs                                                                    15944 non-null  float64
 10  Previous CNGs                                                                    15944 non-null  float64
 11  Household Income                                                                 16964 non-null  float64
 12  Importance of reducing greenhouse gas emissions (-3 not important, 3 important)  18502 non-null  float64
 13  Home ownership (own 1)                                                           18944 non-null  float64
 14  Home Type (detached 1)                                                           18999 non-null  float64
 15  Highest Level of Education                                                       19017 non-null  float64
 16  Longest trip in the last 12 months                                               12620 non-null  float64
 17  Number of trips over 200 miles in the last 12 months                             15185 non-null  float64
 18  One-way commute distance                                                         19536 non-null  float64
 19  Number of people in the household                                                21834 non-null  float64
 20  Age                                                                              21603 non-null  float64
 21  Gender (Male 1)                                                                  21567 non-null  float64
 22  Number of vehicles in the household                                              27021 non-null  int64
 23  Annual VMT Estimate                                                              18825 non-null  float64
 24  FCV, BEV Dummy                                                                   14044 non-null  float64
dtypes: float64(20), int64(1), object(4)
memory usage: 5.2+ MB

In [12]:
df2 = pd.read_csv("resources/CA_ZEV_2020.csv")
df2.head()

,Response ID..,"No Trucks, Plus Incentives: drivetrain design 1","No Trucks, Plus Incentives: drivetrain design 2","No Trucks, Plus Incentives: drivetrain design 3","No Trucks, Plus Incentives: drivetrain design 4","No trucks, plus incentives: drivetrain design",Respondent Education,rRespondent Education,Respondent Gender,Respondent Sex,...,w Non-ZEV: maintenance cost,w Non-ZEV: fuel cost,w Non-ZEV: lifestyle,w Non-ZEV: charge/fuel time,w Non-ZEV: range,w Non-ZEV: fuel safety,w Non-ZEV: environmental concerns,w Non-ZEV: battery concerns,w Non-ZEV: reliability,w Non-ZEV: higher incentives
0,40,HEV,NaN,NaN,NaN,HEV,"Masters, Doctorate, or Professional Degree","Masters, Doctorate, or Professional Degree",Female,Female,...,0.0,0.0,0.0,5.490969,5.490969,0.0,0.0,0.0,0.0,NaN
1,36,HEV,NaN,NaN,NaN,HEV,College Graduate,College Graduate,Male,Male,...,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
2,32,PHEV,NaN,NaN,NaN,PHEV,"Masters, Doctorate, or Professional Degree","Masters, Doctorate, or Professional Degree",Male,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,48,EV,NaN,NaN,NaN,EV,High School Graduate or GED,High school or less,Male,Male,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,50,EV,NaN,NaN,NaN,EV,Some Graduate School,Some Graduate School,Female,Female,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1671 entries, 0 to 1670
Columns: 197 entries, Response ID.. to w Non-ZEV: higher incentives
dtypes: float64(156), int64(1), object(40)
memory usage: 2.5+ MB

## Descriptive Analysis/EDA

1. Check dimensions of the dataframe in terms of rows and columns
2. Check data types. Ensure your data types are correct. Refer data definitions to validate
3. If data types are not as per business definition, change the data types as per requirement
4. Study summary statistics
5. Check for missing values
6. Study correlation
7. Detect outliers

### Examine Dataset

In [17]:
# Display first 10 rows of the Dataset
# df.head(), tail(), head(10)

#### Observation:

### The dimension of the `data` dataframe. (shape, r x c)

#### Observations:

### Data Types/Categorical vs. Numerical Columns

In [11]:
#df.info()
#df.dtypes

#### Observations:

### Missing Values

**If we encounter with missing data, what we can do:**

* leave as is
* drop them with dropna()
* fill missing value with fillna()
* fill missing values with test statistics like mean

Mode Inputation
* Mode imputation means replacing missing values by the mode, or the most frequent- category value.

In [13]:
# df.isnull().values.any()
# df.isnull().sum()

#### Observations:

### Summary Statistics

In [ ]:
# df.describe()

#### Observations:

### Distribution Plot

In [10]:
#sns.displot(df['col_name'], kind = 'kde')

#### Observations:

### Check for Max and Min Values

#### Observation:

### Examine the mean, median, and mode. Are the three measures of central tendency equal?
-- this will help describe the skewness/distribution of attributes

#### Observations:

### Pairplot for the variables.

In [1]:
#sns.pairplot(data = pima, vars = ['Glucose', 'SkinThickness', 'DiabetesPedigreeFunction'], hue = 'Outcome')

#### Observations:

### Scatterplots

In [3]:
#plt.scatter(x = 'Glucose', y = 'Insulin', data = pima)
#plt.show()

#### Observations:

### Boxplots for Variables
Check the distribution and outliers for each column in the data.**

In [4]:
#plt.boxplot(pima['Age'])
#plt.title('Boxplot of Age')
#plt.ylabel('Age')
#plt.show()

#### Observations:

### Histograms

In [5]:
#plt.hist(pima[pima['Outcome'] == 1]['Age'], bins = 5)
#plt.title('Distribution of Age for Women who has Diabetes')
#plt.xlabel('Age')
#plt.ylabel('Frequency')
#plt.show()

#### Observations:

### The interquartile range of all the variables

In [6]:
#Q1 = df.quantile(0.25)
#Q3 = df.quantile(0.75)
#IQR = Q3 - Q1
#print(IQR)

#### Observations:

### Visualize the Correlation Matrix.

* Correlation is a statistic that measures the degree to which two variables move in relation to each other. A positive correlation indicates
* the extent to which those variables increase or decrease in parallel; a negative correlation indicates the extent to which one variable
* increases as the other decreases. Correction among multiple variables can be represented in the form of a matrix. This allows us to see which pairs have the high correlations.
* correlation Correlation is a mutual relationship or connection between two or more things. It takes a value between (+1) and (-1)
* The correlation between two independent events is zero, two events with zero correlations may not be independent.

In [14]:
#plt.figure(figsize = (8, 8))
#sns.heatmap(corr_matrix, annot = True)

# Display the plot
#plt.show()

#### Observations:

## Data Preprocessing for Modeling

* Renaming Columns
* Scaling/Normalizing
* Dropping unnecessary columns
* Hot encoding
* Imputing missing values with mode/median for columns
* Converting data types
* Format data types
* Apply get_dummies on the dataframe data

## Predictive Analysis/Building Models

### **Checking the below linear regression assumptions**

1. **Mean of residuals should be 0**
2. **No Heteroscedasticity**
3. **Linearity of variables**
4. **Normality of error terms**

## **Actionable Insights and Business Recommendations**