In [3]:
import pandas as pd
from sklearn.utils import resample

file = '../Encoding/FCV_Label_Encoded.csv'
df = pd.read_csv(file)

df.head()

,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",Home ownership (own 1),Home Type (detached 1),Highest Level of Education,Longest trip in the last 12 months,...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,Target,Model Year,Manufacture,Model
0,1.0,0.0,0.0,0.0,275000.0,2.52,1.0,1.0,3.0,483.14,...,0.01,2.0,65.0,0.0,2,14622.000000,0.0,2016,12,8
1,0.0,0.0,1.0,0.0,275000.0,2.76,1.0,1.0,4.0,568.09,...,10.69,3.0,65.0,0.0,3,9197.142857,0.0,2016,12,8
2,1.0,0.0,0.0,0.0,125000.0,2.60,1.0,1.0,2.0,255.16,...,17.63,2.0,55.0,0.0,3,5082.352941,0.0,2017,12,8
3,0.0,0.0,1.0,0.0,175000.0,1.23,1.0,1.0,4.0,312.78,...,3.53,2.0,75.0,0.0,2,13025.454545,0.0,2016,12,8
4,0.0,0.0,1.0,0.0,500000.0,1.08,1.0,1.0,2.0,125.79,...,28.05,3.0,45.0,0.0,3,18000.000000,0.0,2016,12,8

In [4]:
df_majority = df[df.Target==1.0]
df_minority = df[df.Target==0.0]

In [5]:
df_minority_oversampled = resample(df_minority,
                                   replace=True,
                                   n_samples=len(df_majority),
                                   random_state=123)

In [6]:
df_oversampled = pd.concat([df_majority, df_minority_oversampled])

In [8]:
df_oversampled['Target'].value_counts()

1.0    4469
0.0    4469
Name: Target, dtype: int64

In [9]:
df.to_csv('FCV_Oversampled.csv', index=False)