In [5]:
import pandas as pd

file = '../Exports/FCV_Dataset.csv'
df = pd.read_csv(file)

df

,Unnamed: 0,Month Submitted,Year Submitted,lastpage. Last page,Previous PHEVs,Previous BEVs,Previous HEVs,Previous CNGs,Household Income,"Importance of reducing greenhouse gas emissions (-3 not important, 3 important)",...,One-way commute distance,Number of people in the household,Age,Gender (Male 1),Number of vehicles in the household,Annual VMT Estimate,"FCV, BEV Dummy",Model Year,Manufacturer,Model
0,0,6,2017,42.0,1,0,0,0,275000.0,2,...,0.01,2,65,0,2,14622,0.0,2016,Toyota,Mirai
1,1,6,2017,42.0,0,0,1,0,275000.0,2,...,10.69,3,65,0,3,9197,0.0,2016,Toyota,Mirai
2,4,6,2017,42.0,1,0,0,0,125000.0,2,...,17.63,2,55,0,3,5082,0.0,2017,Toyota,Mirai
3,8,6,2017,42.0,0,0,0,0,125000.0,2,...,13.35,4,45,0,2,13224,0.0,2017,Toyota,Mirai
4,9,6,2017,42.0,1,0,1,0,225000.0,1,...,34.77,4,45,0,3,16080,0.0,2017,Honda,Clarity
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3499,19708,11,2017,45.0,0,0,1,0,275000.0,2,...,46.38,2,65,0,2,644,1.0,2017,Chevrolet,Bolt EV
3500,19712,11,2017,45.0,0,0,0,0,125000.0,2,...,35.66,4,35,0,2,18800,1.0,2017,Chevrolet,Bolt EV
3501,19717,11,2017,45.0,1,1,0,0,175000.0,2,...,44.72,2,25,0,2,9129,1.0,2017,Chevrolet,Bolt EV
3502,19723,11,2017,45.0,0,1,1,0,325000.0,0,...,17.29,4,55,1,2,13000,1.0,2017,Chevrolet,Bolt EV
3503,19724,11,2017,45.0,0,1,0,0,125000.0,2,...,18.37,4,55,0,4,9045,1.0,2017,Chevrolet,Bolt EV

In [6]:
df.Manufacturer.value_counts()

Nissan           1168
Tesla             729
Chevrolet         457
Toyota            279
Volkswagen        274
Fiat              249
BMW               115
Ford               80
Honda              51
Kia                31
Smart              25
Mercedes-Benz      23
Hyundai            17
Mitsubishi          5
Name: Manufacturer, dtype: int64

In [4]:
brand_mapping = {
    'FIAT' : 'Fiat',
    'tesla' : 'Tesla', 
    'Volkswagon' : 'Volkswagen', 
    'Mercedes' : 'Mercedes-Benz',
    'chevy' : 'Chevrolet',
    'VW' : 'Volkswagen',
    'vw' : 'Volkswagen',
    'Tesler' : 'Tesla',
    'Chev' : 'Chevrolet',
    'Telsa' : 'Tesla',
    'hyundai' : 'Hyundai',
    'nISSAN' : 'Nissan',
    'MBW' : 'BMW',
    'Nissa' : 'Nissan',
    'Hyundi' : 'Hyundai',
    'Chevy' : 'Chevrolet',
    'smart' : 'Smart'
}

df['Manufacture'] = df['Manufacture'].replace(brand_mapping)

In [5]:
df.Manufacture.value_counts()

Nissan           1403
Tesla            1297
Chevrolet         574
Toyota            350
Fiat              319
Volkswagen        318
BMW               153
Ford               98
Honda              64
Kia                41
Smart              35
Mercedes-Benz      25
Hyundai            21
Mitsubishi          9
Name: Manufacture, dtype: int64

In [4]:
df.Model.value_counts()

Leaf        1168
Model S      624
Bolt EV      404
e-Golf       275
500e         249
Mirai        160
RAV4 EV      119
i3           115
Model X      104
Focus         80
Spark EV      53
Fit EV        38
Soul EV       31
fortwo        25
B250e         23
Tucson        17
Clarity       13
i-MiEV         5
Roadster       1
Name: Model, dtype: int64

In [7]:
model_mapping = {
    '500E' : '500e',
    'Model X 60D' : 'Model X',
    'LEAF' : 'Leaf',
    'Tuscon' : 'Tucson',
    'Tucson FCV' : 'Tucson',
    'S 85' : 'Model S',
    'Tuscon fuel cell' : 'Tucson',
    'bolt' : 'Bolt EV',
    'Bolt' : 'Bolt EV',
    ' 75d' : 'Model S',
    'Model S P90D' : 'Model S',
    'S 90D' : 'Model S',
    'Tuscon FCV' : 'Tucson',
    ' Chevreolet Volt' : 'Volt',
    ' Tucson' : 'Tucson',
    'S 85 D' : 'Model S',
    'e golf' : 'e-Golf',
    ' E-Golf' : 'e-Golf',
    'eGolf' : 'e-Golf',
    'VW  e-Golf' : 'e-Golf',
    ' Leaf' : 'Leaf',
    'Model S P85D' : 'Model S',
    's' : 'Model S',
    'Tucson fuel cell' : 'Tucson',
    'model S' : 'Model S',
    'Tuscan' : 'Tucson',
    'S' : 'Model S',
    'tuscon' : 'Tucson',
    '85 S' : 'Model S',
    'Model S, P85' : 'Model S',
    ' Model S' : 'Model S',
    ' Tuscon' : 'Tucson',
    'Benz B Class Electric' : 'B250e',
    ' Model X' : 'Model X',
    'e-golf' : 'e-Golf',
    'Focus Electric' : 'Focus',
    'B-Class Electric Drive' : 'B250e',
    ' Chevrolet Volt' : 'Volt',
    'Spark' : 'Spark EV'
    
}

df['Model'] = df['Model'].replace(model_mapping)

In [8]:
df.Model.value_counts()

Leaf             1403
Model S          1133
Bolt EV           502
500e              319
e-Golf            319
Mirai             208
Model X           161
i3                153
RAV4 EV           142
Focus              97
Spark EV           72
Fit EV             50
Soul EV            41
fortwo             35
B250e              25
Tucson             21
Clarity            14
i-MiEV              9
Roadster            3
Fusion Energi       1
Volt                1
Name: Model, dtype: int64

In [7]:
year_mapping = {
    '2-16' : '2016'
}

df['Model Year'] = df['Model Year'].replace(year_mapping)

In [8]:
df = df.rename(columns={'FCV, BEV Dummy' : 'Target'})

In [9]:
df.to_csv('FCV_Dataset_mapped.csv', index=False)